.row {
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3rem 5rem;
}

.row__center {
    align-items: center;
  }